<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<body>
<div th:fragment="content">
    <a href="/new_invoice">New...</a>
    <ul th:each="i: ${invoices}">
        <li>
            <span th:text="${i.customer}"></span>
            <span th:each="l: ${i.links}">
                <a th:href="@{${l.value.href}}"><span th:text="${l.key}">HHHH</span></a>
            </span>
        </li>
    </ul>
</div>
</body>
</html>